In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_maps_api_key

# Pull in city data CSV as a DF

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-02-01 05:08:38,-34.5322,20.0403,73.27,94,27,3.47
1,1,Albany,US,2022-02-01 05:06:49,42.6001,-73.9662,13.98,75,6,1.72
2,2,La Romana,DO,2022-02-01 05:08:39,18.4273,-68.9728,69.53,87,15,8.46
3,3,Yellowknife,CA,2022-02-01 05:08:26,62.4560,-114.3525,-12.59,86,79,8.01
4,4,Ketchikan,US,2022-02-01 05:04:49,55.3422,-131.6461,33.78,96,94,2.62

In [3]:
# gmaps dependency requires data to be either integer or floating-point decimal
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create heatmaps for weather parameters

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_maps_api_key)

In [5]:
# Get the maximum temperature.
# Google heatmaps won't map anything <0, so this takes the greater of the max temp and 0
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# Center and zoom to show only one map of Earth
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# Pull in greater of temp and 0 since heatmaps won't map anything <0
# Added other mapping attributes (dissipating, intensit, radius) to get the look we want
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get vacation criteria

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Samarai,PG,2022-02-01 05:08:40,-10.6167,150.6667,86.52,67,100,9.24
8,8,Metro,ID,2022-02-01 05:08:41,-5.1131,105.3067,86.79,64,100,6.33
17,17,Butaritari,KI,2022-02-01 05:08:44,3.0707,172.7902,81.95,78,89,13.00
18,18,Bandarbeyla,SO,2022-02-01 05:08:45,9.4942,50.8122,77.68,73,73,14.94
27,27,Rikitea,PF,2022-02-01 05:08:48,-23.1203,-134.9692,78.31,65,71,7.67
30,30,Bangil,ID,2022-02-01 05:08:49,-7.5994,112.8186,89.58,69,97,4.38
36,36,Kavieng,PG,2022-02-01 05:08:51,-2.5744,150.7967,79.25,87,98,15.64
38,38,Saint-Pierre,RE,2022-02-01 05:08:52,-21.3393,55.4781,83.84,65,75,16.11
43,43,New Norfolk,AU,2022-02-01 05:09:54,-42.7826,147.0587,76.50,37,38,5.99
47,47,Port Alfred,ZA,2022-02-01 05:09:55,-33.5906,26.8910,77.40,85,100,3.74

In [21]:
# Check for null values
preferred_cities_df.count()

City_ID       133
City          133
Country       133
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

# Map vacation criteria

### Create new hotel df based on preferred cities

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5        Samarai      PG     86.52 -10.6167  150.6667
8          Metro      ID     86.79  -5.1131  105.3067
17    Butaritari      KI     81.95   3.0707  172.7902
18   Bandarbeyla      SO     77.68   9.4942   50.8122
27       Rikitea      PF     78.31 -23.1203 -134.9692
30        Bangil      ID     89.58  -7.5994  112.8186
36       Kavieng      PG     79.25  -2.5744  150.7967
38  Saint-Pierre      RE     83.84 -21.3393   55.4781
43   New Norfolk      AU     76.50 -42.7826  147.0587
47   Port Alfred      ZA     77.40 -33.5906   26.8910

### Use lat, long, and other parameters, use Google Places Nearby Search to fill in "hotel name" column

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_maps_api_key
}

### Iterate through hotel DF, add lat/lng to params dictionary, make an API call, store names in hotel DF "Hotel Name" column

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Include try-except block to navigate IndexError
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

### Use try-except blocks to pass errors; can add other error messages to except block if needed; for instance, (IndexError, NewError) until no errors are received

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Samarai,PG,86.52,-10.6167,150.6667,Nuli Sapi
8,Metro,ID,86.79,-5.1131,105.3067,OYO 3177 Wisma Lintang
17,Butaritari,KI,81.95,3.0707,172.7902,Isles Sunset Lodge
18,Bandarbeyla,SO,77.68,9.4942,50.8122,JABIR HOTEL
27,Rikitea,PF,78.31,-23.1203,-134.9692,People ThankYou
30,Bangil,ID,89.58,-7.5994,112.8186,Hotel Dalwa Syariah
36,Kavieng,PG,79.25,-2.5744,150.7967,Nusa Island Retreat
38,Saint-Pierre,RE,83.84,-21.3393,55.4781,Lindsey Hôtel
43,New Norfolk,AU,76.50,-42.7826,147.0587,The Shingles Riverside Cottages
47,Port Alfred,ZA,77.40,-33.5906,26.8910,The Halyards Hotel

# Create max temp heatmap using hotel DF

### Iterarte rows for info box (to click on markers)

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

### Create heat map with markers and info boxes

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))